<div ng-controller="contentController">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-2 padding-zero">
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
        <li class="active">Content</li>
      </ol>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-10 message-search">
      <div class="col-xs-6 col-md-offset-8 col-md-2 padding-zero">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="search...."/>
          <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search" aria-hidden="true"></i></span>
        </div>
      </div>
      <div class="col-xs-6 col-md-2">
        <button type="button" ng-click="createContent()" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Create New</button>
      </div>
    </div>
  </div>
  <div class="container-fluid" style="margin-top: 20px;">
    <div class="card cricket-card">
      <div class="dashboard-card-header">
        Content
        <h5>Create, Update or Delete content from here.</h5>
      </div>
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Title</th>
              <th>Content</th>
              <th>Created</th>
              <th>Image</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-xs-3"><strong>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur</strong></td>
              <td class="col-xs-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</td>
              <td class="col-xs-2">2017-11-11 11:11:11</td>
              <td class="col-xs-1"><img src="images/sidebar-background.jpg" style="width: 100px; height: 100px;"/></td>
              <td class="col-xs-1">
                <ul class="list-inline">
                  <li><button type="button" class="btn btn-link"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></li>
                  <li><button type="button" class="btn btn-link"><i class="fa fa-trash" aria-hidden="true"></i></button></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td class="col-xs-3">Laravel Tutorial – CRUD (Create Read Update Delete) Operations in Laravel</td>
              <td class="col-xs-5">In our previous Laravel 5 tutorial, we have learned how to install and configure Laravel application on Windows or Ubuntu. Now you’ll learn the most used functionality in this third part of the Laravel tutorial. In this tutorial, we’ll create a simple CRUD application with Laravel 5. Our step-by-step guide for beginners helps you to implement CRUD (Create, Read, Update, and Delete) Operations in Laravel.</td>
              <td class="col-xs-1">2017-11-11 11:11:11</td>
              <td class="col-xs-1"><img src="images/sidebar-background1.jpg" style="width: 100px; height: 100px;"/></td>
              <td class="col-xs-1">
                <ul class="list-inline">
                  <li><button type="button" class="btn btn-link"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></li>
                  <li><button type="button" class="btn btn-link"><i class="fa fa-trash" aria-hidden="true"></i></button></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td class="col-xs-3">Laravel Tutorial – CRUD (Create Read Update Delete) Operations in Laravel</td>
              <td class="col-xs-5">In our previous Laravel 5 tutorial, we have learned how to install and configure Laravel application on Windows or Ubuntu. Now you’ll learn the most used functionality in this third part of the Laravel tutorial. In this tutorial, we’ll create a simple CRUD application with Laravel 5. Our step-by-step guide for beginners helps you to implement CRUD (Create, Read, Update, and Delete) Operations in Laravel.</td>
              <td class="col-xs-1">2017-11-11 11:11:11</td>
              <td class="col-xs-1"><img src="images/sidebar-background2.jpg" style="width: 100px; height: 100px;"/></td>
              <td class="col-xs-1">
                <ul class="list-inline">
                  <li><button type="button" class="btn btn-link"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></li>
                  <li><button type="button" class="btn btn-link"><i class="fa fa-trash" aria-hidden="true"></i></button></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td class="col-xs-3">Laravel Tutorial – CRUD (Create Read Update Delete) Operations in Laravel</td>
              <td class="col-xs-5">In our previous Laravel 5 tutorial, we have learned how to install and configure Laravel application on Windows or Ubuntu. Now you’ll learn the most used functionality in this third part of the Laravel tutorial. In this tutorial, we’ll create a simple CRUD application with Laravel 5. Our step-by-step guide for beginners helps you to implement CRUD (Create, Read, Update, and Delete) Operations in Laravel.</td>
              <td class="col-xs-1">2017-11-11 11:11:11</td>
              <td class="col-xs-1"><img src="images/sidebar-background3.jpeg" style="width: 100px; height: 100px;"/></td>
              <td class="col-xs-1">
                <ul class="list-inline">
                  <li><button type="button" class="btn btn-link"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></li>
                  <li><button type="button" class="btn btn-link"><i class="fa fa-trash" aria-hidden="true"></i></button></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td class="col-xs-3">Laravel Tutorial – CRUD (Create Read Update Delete) Operations in Laravel</td>
              <td class="col-xs-5">In our previous Laravel 5 tutorial, we have learned how to install and configure Laravel application on Windows or Ubuntu. Now you’ll learn the most used functionality in this third part of the Laravel tutorial. In this tutorial, we’ll create a simple CRUD application with Laravel 5. Our step-by-step guide for beginners helps you to implement CRUD (Create, Read, Update, and Delete) Operations in Laravel.</td>
              <td class="col-xs-1">2017-11-11 11:11:11</td>
              <td class="col-xs-1"><img src="images/sidebar-background.jpg" style="width: 100px; height: 100px;"/></td>
              <td class="col-xs-1">
                <ul class="list-inline">
                  <li><button type="button" class="btn btn-link"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></li>
                  <li><button type="button" class="btn btn-link"><i class="fa fa-trash" aria-hidden="true"></i></button></li>
                </ul>
              </td>
            </tr>
            <tr>
              <td class="col-xs-3">Laravel Tutorial – CRUD (Create Read Update Delete) Operations in Laravel</td>
              <td class="col-xs-5">In our previous Laravel 5 tutorial, we have learned how to install and configure Laravel application on Windows or Ubuntu. Now you’ll learn the most used functionality in this third part of the Laravel tutorial. In this tutorial, we’ll create a simple CRUD application with Laravel 5. Our step-by-step guide for beginners helps you to implement CRUD (Create, Read, Update, and Delete) Operations in Laravel.</td>
              <td class="col-xs-1">2017-11-11 11:11:11</td>
              <td class="col-xs-1"><img src="images/sidebar-background.jpg" style="width: 100px; height: 100px;"/></td>
              <td class="col-xs-1">
                <ul class="list-inline">
                  <li><button type="button" class="btn btn-link"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></li>
                  <li><button type="button" class="btn btn-link"><i class="fa fa-trash" aria-hidden="true"></i></button></li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Add/Update</h3>
  </div>
  <div class="modal-body" id="modal-body">
    <div class="row">
      <div class="col-xs-12">
        <label for="title">Title:</label>
        <input type="text" class="form-control" ng-model="title" id="title"/>
      </div>
    </div>
    <div class="row" style="padding-top: 10px; padding-bottom: 10px;">
      <div class="col-xs-12">
        <label for="upload">Upload:</label>
        <label class="btn-bs-file btn btn-primary" id="upload">
          <i class="fa fa-upload" aria-hidden="true"></i> Upload New Image
          <input type="file" />
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <text-angular name="htmlcontent" ng-model="emailMessage" class="no-float"></text-angular>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger pull-left" type="button" ng-click="delete()">Delete</button>
    <button class="btn btn-primary" type="button" ng-click="ok(paramData)">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>