<div ng-controller="dashboardController" class="dashboard">
  <div class="container-fluid">
    <div class="row grid-divider">
      <div class="col-xs-12 col-md-3">
        <div class="col-padding">
          <h4>Total Visits</h4>
          <h2>2,132,123</h2>
          <span style="font-size: 18px;"><i class="fa fa-caret-up" style="color: #27BDBC" aria-hidden="true"></i> From 2,121,456 Yesterday</span>
          <canvas chart-colors="color" class="chart chart-bar" chart-options="options" chart-data="data"
                  chart-labels="labels" chart-series="series" height="80px"></canvas>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="col-padding">
          <h4>Total Registered Users</h4>
          <h2>50K</h2>
          <span style="font-size: 18px;"><i class="fa fa-caret-down" style="color: #FF4749" aria-hidden="true"></i> From 52,123 Yesterday</span>
          <canvas chart-colors="color" class="chart chart-bar" chart-options="options" chart-data="data"
                  chart-labels="labels" chart-series="series" height="80px"></canvas>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="col-padding">
          <h4>Revenue (This Month)</h4>
          <h2>5.12 M</h2>
          <span style="font-size: 18px;"><i class="fa fa-caret-up" style="color: #27BDBC" aria-hidden="true"></i> From 3.71M Yesterday</span>
          <canvas chart-colors="color" class="chart chart-bar" chart-options="options" chart-data="data"
                  chart-labels="labels" chart-series="series" height="80px"></canvas>
        </div>
      </div>
      <div class="col-xs-12 col-md-3">
        <div class="col-padding">
          <h4>Shipments (Today)</h4>
          <h2>1,231</h2>
          <span style="font-size: 18px;"><i class="fa fa-caret-up" style="color: #27BDBC" aria-hidden="true"></i> From 1,989 Yesterday</span>
          <canvas chart-colors="color" class="chart chart-bar" chart-options="options" chart-data="data"
                  chart-labels="labels" chart-series="series" height="80px"></canvas>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="card cricket-card">
          <div class="dashboard-card-header">Notes</div>
          <div class="card-body" style="height: 627px;">
            <div class="row">
              <div class="col-xs-12">
                <blockquote>
                  <h4><strong>de Finibus Bonorum et Malorum?</strong>
                    <a><i class="fa fa-trash pull-right" aria-hidden="true"></i></a>
                  </h4>
                  <h6>Updated: 11, November, 2017 11:47 PM. By <a>Admin User</a></h6>
                  <h5>Sed ut perspiciatis unde omnis iste natus... <a>Read More</a></h5>
                </blockquote>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <blockquote>
                  <h4><strong>de Finibus Bonorum et Malorum?</strong></h4>
                  <h6>Updated: 11, November, 2017 11:47 PM. By <a>Admin User</a></h6>
                  <h5>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab... <a>Read More</a></h5>
                </blockquote>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <blockquote>
                  <h4><strong>de Finibus Bonorum et Malorum?</strong></h4>
                  <h6>Updated: 11, November, 2017 11:47 PM. By <a>Admin User</a></h6>
                  <h5>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab... <a>Read More</a></h5>
                </blockquote>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <blockquote>
                  <h4><strong>de Finibus Bonorum et Malorum?</strong></h4>
                  <h6>Updated: 11, November, 2017 11:47 PM. By <a>Admin User</a></h6>
                  <h5>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab... <a>Read More</a></h5>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-8">
        <div class="card cricket-card">
          <div class="dashboard-card-header">Recent Visits</div>
          <div class="card-body">
            <div class="col-xs-12 col-md-8">
              <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series"></canvas>
            </div>
            <div class="col-xs-12 col-md-4">
              asdfasdf
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 table-half">
        <div class="card cricket-card" style="min-height: 255px;">
          <div class="dashboard-card-header">SSD</div>
          <div class="card-body">
            <div class="col-xs-7" style="padding-right: 0;">
              <canvas id="base" class="chart-horizontal-bar" chart-data="hBarData" chart-options="hBarOptions" chart-labels="hBarLabels" ></canvas>
            </div>
            <div class="col-xs-5" style="padding-left: 0; padding: 29px;">
              <dl class="dl-horizontal">
                <dt style="width: auto;">Total</dt>
                <dd style="margin: auto; text-align: right;">100 GB</dd>
                <dt style="width: auto;">Used</dt>
                <dd style="margin: auto; text-align: right;">70 GB</dd>
                <dt style="width: auto;">Unused</dt>
                <dd style="margin: auto; text-align: right;">30 GB</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 table-half">
        <div class="card cricket-card" style="min-height: 255px;">
          <div class="dashboard-card-header">Recent Visits</div>
          <div class="card-body">
            <div class="col-xs-7">
              <canvas id="pie" class="chart chart-pie" chart-data="pieData" chart-labels="pieLabels"></canvas>
            </div>
            <div class="col-xs-5" style="padding-left: 0; padding: 29px;">
              <dl class="dl-horizontal">
                <dt style="width: auto;">Total</dt>
                <dd style="margin: auto; text-align: right;">100 GB</dd>
                <dt style="width: auto;">Used</dt>
                <dd style="margin: auto; text-align: right;">70 GB</dd>
                <dt style="width: auto;">Unused</dt>
                <dd style="margin: auto; text-align: right;">30 GB</dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-8 table-half">
        <div class="card dashboard-tables">
          <div class="dashboard-card-header">Recent Visits</div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th scope="col">IP</th>
                <th scope="col">URI</th>
                <th scope="col">Country</th>
                <th scope="col">City</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
              </tr>
              </thead>
              <tbody>
                <tr>
                  <th>192.241.193.203</th>
                  <td>getContentByCondition</td>
                  <td>United States</td>
                  <td>San Francisco</td>
                  <td>09/12/2017</td>
                  <td>01:55 PM</td>
                </tr>
                <tr>
                  <th>192.241.193.203</th>
                  <td>getMovies</td>
                  <td>United States</td>
                  <td>San Francisco</td>
                  <td>09/12/2017</td>
                  <td>01:55 PM</td>
                </tr>
                <tr>
                  <th>192.241.193.203</th>
                  <td>getContentByCondition</td>
                  <td>United States</td>
                  <td>San Francisco</td>
                  <td>09/12/2017</td>
                  <td>01:55 PM</td>
                </tr>
                <tr>
                  <th>192.241.193.203</th>
                  <td>getContentByCondition</td>
                  <td>United States</td>
                  <td>San Francisco</td>
                  <td>09/12/2017</td>
                  <td>01:55 PM</td>
                </tr>
                <tr>
                  <th>192.241.193.203</th>
                  <td>getContentByCondition</td>
                  <td>United States</td>
                  <td>San Francisco</td>
                  <td>09/12/2017</td>
                  <td>01:55 PM</td>
                </tr>
                <tr>
                  <th>192.241.193.203</th>
                  <td>getContentByCondition</td>
                  <td>United States</td>
                  <td>San Francisco</td>
                  <td>09/12/2017</td>
                  <td>01:55 PM</td>
                </tr>
                <tr>
                  <th>255.255.255.0</th>
                  <td>getContentByCondition</td>
                  <td>United States</td>
                  <td>San Francisco</td>
                  <td>09/12/2017</td>
                  <td>01:55 PM</td>
                </tr>
              </tbody>
            </table>
            <ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-md"
                boundary-links="true" force-ellipses="true">
            </ul>
          </div>
        </div>
      </div>
      <!--<div class="col-xs-12 col-md-5 table-half">
        <div class="card dashboard-tables">
          <div class="dashboard-card-header">IP Details and Status</div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">IP</th>
                  <th scope="col">Status</th>
                  <th scope="col">Country</th>
                  <th scope="col">City</th>
                  <th scope="col">Total Visits</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="checkbox email-checkbox" style="margin: 0;">
                      <label style="padding: 0;">
                        <input type="checkbox" ng-click="removeSeries()">
                        <span class="cr pull-right"><i class="cr-icon fa fa-check" aria-hidden="true"></i></span>
                      </label>
                    </div>
                  </td>
                  <td>27.7.236.70</td>
                  <td>Allowed</td>
                  <td>India</td>
                  <td>Ghaziabad</td>
                  <td>74</td>
                </tr>
                <tr>
                  <td>
                    <div class="checkbox email-checkbox" style="margin: 0;">
                      <label style="padding: 0;">
                        <input type="checkbox" ng-click="removeSeries()">
                        <span class="cr pull-right"><i class="cr-icon fa fa-check" aria-hidden="true"></i></span>
                      </label>
                    </div>
                  </td>
                  <td>27.7.236.70</td>
                  <td>Allowed</td>
                  <td>India</td>
                  <td>Ghaziabad</td>
                  <td>74</td>
                </tr>
                <tr>
                  <td>
                    <div class="checkbox email-checkbox" style="margin: 0;">
                      <label style="padding: 0;">
                        <input type="checkbox" ng-click="removeSeries()">
                        <span class="cr pull-right"><i class="cr-icon fa fa-check" aria-hidden="true"></i></span>
                      </label>
                    </div>
                  </td>
                  <td>27.7.236.70</td>
                  <td>Allowed</td>
                  <td>India</td>
                  <td>Ghaziabad</td>
                  <td>74</td>
                </tr>
                <tr>
                  <td>
                    <div class="checkbox email-checkbox" style="margin: 0;">
                      <label style="padding: 0;">
                        <input type="checkbox" ng-click="removeSeries()">
                        <span class="cr pull-right"><i class="cr-icon fa fa-check" aria-hidden="true"></i></span>
                      </label>
                    </div>
                  </td>
                  <td>27.7.236.70</td>
                  <td>Allowed</td>
                  <td>India</td>
                  <td>Ghaziabad</td>
                  <td>74</td>
                </tr>
                <tr>
                  <td>
                    <div class="checkbox email-checkbox" style="margin: 0;">
                      <label style="padding: 0;">
                        <input type="checkbox" ng-click="removeSeries()">
                        <span class="cr pull-right"><i class="cr-icon fa fa-check" aria-hidden="true"></i></span>
                      </label>
                    </div>
                  </td>
                  <td>27.7.236.70</td>
                  <td>Allowed</td>
                  <td>India</td>
                  <td>Ghaziabad</td>
                  <td>74</td>
                </tr>
                <tr>
                  <td>
                    <div class="checkbox email-checkbox" style="margin: 0;">
                      <label style="padding: 0;">
                        <input type="checkbox" ng-click="removeSeries()">
                        <span class="cr pull-right"><i class="cr-icon fa fa-check" aria-hidden="true"></i></span>
                      </label>
                    </div>
                  </td>
                  <td>27.7.236.70</td>
                  <td>Allowed</td>
                  <td>India</td>
                  <td>Ghaziabad</td>
                  <td>74</td>
                </tr>
                <tr>
                  <td>
                    <div class="checkbox email-checkbox" style="margin: 0;">
                      <label style="padding: 0;">
                        <input type="checkbox" ng-click="removeSeries()">
                        <span class="cr pull-right"><i class="cr-icon fa fa-check" aria-hidden="true"></i></span>
                      </label>
                    </div>
                  </td>
                  <td>192.241.193.203</td>
                  <td>Allowed</td>
                  <td>India</td>
                  <td>Ghaziabad</td>
                  <td>74</td>
                </tr>
              </tbody>
            </table>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item active"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </div>
        </div>
      </div>-->
      <div class="col-xs-12 col-md-4 table-half">
        <div class="card dashboard-tables">
          <div class="dashboard-card-header">
            TODO <button type="button" class="btn btn-default pull-right"><i class="fa fa-plus"></i> Create</button>
          <h5>In Progress : 5, Completed: 11, Added: 3, On Hold: 1</h5>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th class="col-xs-8">TODO</th>
                <th class="col-xs-3">Progress</th>
                <th class="col-xs-1"></th>
              </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Create a New Home Page</td>
                  <td><span class="label label-danger">In Progress</span></td>
                  <td><i class="fa fa-trash"></i></td>
                </tr>
                <tr>
                  <td>Update Page 1</td>
                  <td><span class="label label-default">Added</span></td>
                  <td><i class="fa fa-trash"></i></td>
                </tr>
                <tr>
                  <td>Create a New Error 404 Page</td>
                  <td><span class="label label-success">Completed</span></td>
                  <td><i class="fa fa-trash"></i></td>
                </tr>
                <tr>
                  <td>Update Page 2</td>
                  <td><span class="label label-danger">In Progress</span></td>
                  <td><i class="fa fa-trash"></i></td>
                </tr>
                <tr>
                  <td>Update Image on Page 6</td>
                  <td><span class="label label-warning">On Hold</span></td>
                  <td><i class="fa fa-trash"></i></td>
                </tr>
                <tr>
                  <td>Increase Capacity of the server</td>
                  <td><span class="label label-default">Added</span></td>
                  <td><i class="fa fa-trash"></i></td>
                </tr>
              </tbody>
            </table>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item active"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>