<ul class="nav flex-column" ng-controller="sidebarController">
  <li class="brand-name">Nextrr</li>
  <li class="nav-item"><a class="nav-link" href="#"><i
      class="fa fa-tachometer" aria-hidden="true"></i> <span>Dashboard</span></a>
  </li>
  <li class="nav-item"><a class="nav-link" href="#"><i
      class="fa fa-inbox" aria-hidden="true"></i> <span>Inbox</span></a></li>
  <li class="nav-item"><a class="nav-link" href="#"><i
      class="fa fa-bar-chart" aria-hidden="true"></i> <span>Graphs</span></a>
  </li>
  <li class="nav-item">
    <!--<a class="nav-link" href="#!red"><i class="fa fa-table" aria-hidden="true"></i> <span>Tables</span></a>-->
    <!--<div class="btn-group">
      <button class="btn btn-secondary nav-dropdown dropdown-toggle" ng-class="showNavDropdown ? 'shade-grey' : ''" type="button" ng-click="showNavDropdown = !showNavDropdown">
        <i class="fa fa-table" aria-hidden="true"></i> <span>Large button</span>
      </button>
    </div>
    <div ng-class="showNavDropdown ? 'active-dropdown' : 'deactive-dropdown'">
      <a class="nav-link nav-dropdown text-center" href="#"><span>Cricket</span></a>
      <a class="nav-link nav-dropdown text-center" href="#"><span>Formula 1</span></a>
      <a class="nav-link nav-dropdown text-center" href="#"><span>Fantasy Cricket</span></a>
      <a class="nav-link nav-dropdown text-center" href="#"><span>Movies</span></a>
    </div>-->


    <a class="nav-link nav-dropdown" ng-class="showNavDropdown ? 'shade-grey' : ''" ng-click="showNavDropdown = !showNavDropdown">
      <i class="fa fa-table" aria-hidden="true"></i> <span>Large button <i class="fa fa-caret-down" aria-hidden="true"></i>
</span>
    </a>
      <ul class="list-unstyled" ng-class="showNavDropdown ? 'active-dropdown' : 'deactive-dropdown'">
        <li><a class="nav-dropdown text-center" href="#"><span>Cricket</span></a></li>
        <li><a class="nav-dropdown text-center" href="#"><span>Formula 1</span></a></li>
        <li><a class="nav-dropdown text-center" href="#"><span>Fantasy Cricket</span></a></li>
        <li><a class="nav-dropdown text-center" href="#"><span>Movies</span></a></li>
      </ul>


  </li>
  <li class="nav-item"><a class="nav-link" href="#"><i
      class="fa fa-inbox" aria-hidden="true"></i> <span>Inbox</span></a></li>
</ul>