<ul class="nav flex-column" ng-controller="sidebarController">
  <li class="brand-name">Nextrr</li>
  <li class="nav-item"><a class="nav-link" href="#"><i
      class="fa fa-tachometer" aria-hidden="true"></i> <span>Dashboard</span></a>
  </li>
  <li class="nav-item"><a class="nav-link" href="#!inbox"><i
      class="fa fa-inbox" aria-hidden="true"></i> <span>Inbox</span></a></li>
  <li class="nav-item"><a class="nav-link" href="#!graphs"><i
      class="fa fa-bar-chart" aria-hidden="true"></i> <span>Analytics</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link nav-dropdown" ng-class="showTableDropdown ? 'shade-grey' : ''" ng-click="showTableDropdown = !showTableDropdown">
      <i class="fa fa-table" aria-hidden="true"></i> <span>Tables <i class="fa fa-caret-down" aria-hidden="true"></i></span>
    </a>
    <ul class="list-unstyled" ng-class="showTableDropdown ? 'active-dropdown' : 'deactive-dropdown'">
      <li ng-click="route('cricket')"><a class="nav-dropdown text-center"><span>Cricket</span></a></li>
      <li><a class="nav-dropdown text-center" href="#"><span>Formula 1</span></a></li>
      <li><a class="nav-dropdown text-center" href="#"><span>Fantasy Cricket</span></a></li>
      <li><a class="nav-dropdown text-center" href="#"><span>Movies</span></a></li>
    </ul>
  </li>
  <!--<li>
    <a class="nav-link nav-dropdown" ng-class="showNavDropdown ? 'shade-grey' : ''" ng-click="showNavDropdown = !showNavDropdown">
      <i class="fa fa-newspaper-o" aria-hidden="true"></i> <span>Content <i class="fa fa-caret-down" aria-hidden="true"></i></span>
    </a>
    <ul class="list-unstyled" ng-class="showNavDropdown ? 'active-dropdown' : 'deactive-dropdown'">
      <li ng-click="route('image')"><a class="nav-dropdown text-center"><span>Images</span></a></li>
      <li><a class="nav-dropdown text-center" href="#"><span>Home Page</span></a></li>
      <li><a class="nav-dropdown text-center" href="#"><span>Page 1</span></a></li>
      <li><a class="nav-dropdown text-center" href="#"><span>Page 2</span></a></li>
    </ul>
  </li>-->
  <li class="nav-item">
    <a class="nav-link" href="#!content"><i class="fa fa-newspaper-o" aria-hidden="true"></i> <span>Content</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#!logs"><i class="fa fa-history" aria-hidden="true"></i> <span>Logs</span></a>
  </li>
</ul>