@CHARSET "UTF-8";

html, body {
    background-color: #EDEDEE !important;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: 'PT Sans', sans-serif;
}

.row {
		margin: 0;
}

.display-block {
		display: block;
}

.display-hidden {
		display: none !important;
}

.no-shadow {
		box-shadow: none !important;
}

.border-zero {
		border: 0 !important;
}

.push {
  height: 50px;
}

.padding-zero {
		padding: 0;
}

/* navbar styles */

.horizontal-collapse {
    height: 70px;
}
.navbar-collapse.in {
  overflow-y: hidden;
}

.bg-navbar {
    background-color: #242a3c !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
    position: fixed;
    z-index: 999;
    height: 56px;
}

.navbar-brand {
		color: white !important;
		padding-left: 40px;
		padding-top: 20px;
		font-size: 32px;
		/*font-family: 'Shadows Into Light Two', cursive;*/
    font-family: 'Crafty Girls', cursive;
}

.navbar-default .navbar-nav > li > a {
		color: white !important;
}

.navbar-wrapper {
	padding-bottom: 40px;
	float: right;
}

/* side-bar styles */

#side-bar {
    position: fixed;
    width: 14%;
    height: 100%;
    top: 0;
}

#side-bar > ul {
    height: 100%;
    /*box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .9);*/
    background: #242a3c;
}

#side-bar > ul > li.brand-name {
    height: 56px;
    text-align: center;
    padding: 5px;
    font-size: 30px;
    color: white;
}

#side-bar > ul > li:nth-child(2) {
    padding-top: 50px;
}

#side-bar > ul > li > a {
    color: white;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px 5px 5px 5px;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
}

#side-bar > ul > li > a > i {
    font-size: 24px;
    float: left;
    line-height: 30px;
    width: 30px;
    text-align: center;
}

#side-bar > ul > li > a:hover {
    background-color: white;
    color: black;
    margin-right: 10px;
    margin-left: 10px;
    transition:.5s;
}

#side-bar > ul > li > a > span {
    padding-left: 30px;
    line-height: 40px;
}

#side-bar > ul > li > div > button, #side-bar > ul > li > ul > li {
    color: white;
    margin-right: 10px;
    margin-left: 10px;
    border-color: transparent;
    background-color: transparent;
    border-radius: 5px 5px 5px 5px;
}

#side-bar > ul > li > div, #side-bar > ul > li > div > button {
	width: 100%;
}

#side-bar > ul > li > div > button > i {
    font-size: 24px;
    float: left;
    line-height: 30px;
    width: 30px;
    text-align: center;
}

#side-bar > ul > li > div > button:hover, #side-bar > ul > li > ul > li:hover {
    background-color: rgba(999, 999, 999, .3);
    margin-right: 10px;
    margin-left: 10px;
    transition:.5s;
}

#side-bar > ul > li > div > button > span
    line-height: 40px;
}

.sidebar-wrapper {
    height: 100%;
    width: 100%;
}

.active-dropdown > li {
	visibility: visible;
	max-height: auto;
	margin-right: 10px;
	margin-left: 10px;
	width: 92% !important;
	border-bottom-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.active-dropdown {
	background-color: rgba(000, 000, 000, .3);
}

.active-dropdown > li > a {
	text-decoration: none;
	color: white;
	font-family: 'Patrick Hand', cursive;
  font-size: 16px;
}

.active-dropdown > li:hover {
	background-color: white;
	color: black;
}

.deactive-dropdown {
	visibility: hidden;
	max-height: 0;
	width: 0 !important;
}

.active-nav-dropdown > li {
	/*visibility: visible;
	max-height: auto;
	margin-right: 10px;
	margin-left: 10px;
	width: 92% !important;
	border-bottom-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  text-align: center;
  line-height: 40px;
  cursor: pointer;*/
  margin: 0;
  width: 100% !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  padding-right: 7px;
  padding-left: 7px;
}

.active-nav-dropdown {
	position: fixed;
  background-color: #242a3c;
}

.active-nav-dropdown > li > a {
	text-decoration: none;
	color: white;
	font-family: 'Patrick Hand', cursive;
  font-size: 16px;
}

.desktop-btns {
		padding-right: 20px;
}

.desktop-btns > li > a:hover {
		background-color: white !important;
		color: black !important;
		height: 100%;
}

.notifications-dropdown {
		width: 400px;
}

.notification-dropdown-sm > li {
		text-align: left;
		padding: 5px;
}

.notifications-dropdown > li {
		border-bottom: 1px solid #e5e5e5;
}

.notifications-dropdown > li > a {
		padding: 10px;
}

.notifications-dropdown > li:nth-last-child(2) {
		border-bottom: 2px solid #e5e5e5;
}

.notifications-dropdown > li:last-child > a {
		padding: 15px;
}

.notifications-dropdown > li:last-child > a:hover {
		text-decoration: underline;
}

.notifications-dropdown > li:last-child {
		border-bottom: 0;
}

.navbar-dropdown {
	line-height: 40px;
	box-shadow: none !important;
	cursor: pointer;
	color: white !important;
}

.navbar-dropdown:hover {
		background-color: white;
		color: black !important;
}

@media (min-width:768px) and (max-width:991px) {
		.active-dropdown {
    	position: fixed;
      background-color: #242a3c;
    }
    .active-dropdown > li {
        margin: 0;
        width: 100% !important;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        padding-right: 7px;
        padding-left: 7px;
    }
}


.shade-grey {
	background-color: rgba(000, 000, 000, .3) !important;
	border-bottom-right-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	border-top-right-radius: 5px !important;
	border-top-left-radius: 5px !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.shade-grey:hover, .active-dropdown > li:hover {
		background-color: white !important;
}

.active-dropdown > li:hover > a {
		color: black;
}

.nav-dropdown {
	line-height: 40px;
	box-shadow: none !important;
	cursor: pointer;
	color: white;
}

/* WebSite Content */
@media (min-width: 992px) {
		#content {
				width: 86.33%;
				float: right;
        padding-top: 50px;
        padding-right: 0;
        padding-left: 9px;
        min-height: 100%;
		}

		.graph-mini-card {
        display: inline-block;
        width: 100%;
    }
}

@media (max-width : 991px) {
		#content {
        float: right;
        padding: 0;
        padding-top: 50px;
        min-height: 100%;
    }

    .graph-mini-card {
				margin-bottom: 35px;
				display: inline-block;
				width: 100%;
    }

    .container-fluid {
        padding: 0;
    }

    .col-xs-12 {
        padding: 0;
    }
}

.card {
		background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    margin-top: 40px;
}

.card-body > .card-title {
	font-size: 22px;
	background-color: white;
	color: black;
	padding: 15px;
}

.card-info {
    min-height: 270px;
    position: relative;
    margin: 25px 0;
    display: inline-block;
    width: 100%;
}

.card-info > .card-body {
    padding: 0;
}

.dashboard {
    width: 100%;
    overflow: hidden;
}

.info-icon {
    text-align: center;
    font-size: 50px;
    color: #0074BF;
    padding: 29px;
}

h1.main-info {
		/*position: absolute;
    left: 25%;
    top: 70%;
    -webkit-transform: translate(-40%, -40%);
    transform: translate(-40%, -40%);
    font-size: 40px;*/
    margin-top: 20px;
    text-align: center;
		font-family: 'Cabin', sans-serif;
}

h1.main-info > strong {
		font-size: 20px;
}

h4.secondary-info-two {
    text-align: center;
    padding: 10px;
    font-family: 'Cabin', sans-serif;
}

#content > div {
	width: 100%;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span,
 .pagination>.active>span:focus, .pagination>.active>span:hover {
	background-color: #061B21 !important;
}

.pagination {
	padding-left: 15px !important;
}

.edit-table > tbody > tr > td > .form-control {
		padding: 1px 8px;
		border-radius: inherit;

}

.cricket-card {
		padding: 0;
		border-radius: 0;
		width: 100%;
		display: inline-block;
}

.match-number {
		width: 60px !important;
}

.cricket-city {
		width: 100px !important;
}

.input-group-addon, .input-group-btn {
		width: inherit !important;
}

.dashboard-tables {
		display: inline-block;
		width: 100%;
}


/* checkbox styles */
.checkbox label:after {
  content: '';
  display: table;
  clear: both;
}

.checkbox .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em;
}

.checkbox .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 20%;
}

.checkbox label input[type="checkbox"] {
  display: none;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon {
  opacity: 0;
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
  opacity: 1;
  background-color: pink;
}

.checkbox label input[type="checkbox"]:disabled+.cr {
  opacity: .5;
}

.bg-red {
		background-color: red;
}

.date-picker > span.input-group-addon {
		background-color: white;
		cursor: pointer;
}

.date-picker > span.input-group-addon > a {
		color: black;
}

.cricket-card > .card-body > div:nth-child(2) {
		border: 0;
}

.create-button > div:nth-child(1){
		margin: 20px 0;
		padding-left: 40px;
}

.create-button > div > button.btn {
		background-color: #061B21;
		color: white;
		border-radius: 0;
}

.custom-button {
		background-color: #061B21 !important;
    color: white !important;
    border-radius: 0 !important;
}

.create-table {
		border-bottom : 1px solid #efefef;
		margin-bottom: 20px;
		padding: 20px;
}

.create-table > thead {
		background-color: #D6DCE2;
}

.form-control {
		border-radius: 0 !important;
}

.breadcrumb {
		background-color: transparent !important;
		padding: 20px !important;
		font-size: 16px;
		margin:0;
}

.breadcrumb > li > a {
		color: black;
}

.inbox-card {
		min-height: 200px;
}

.inbox-card > div {
		margin: 20px;
}

.inbox-card > div:nth-child(2) {
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
}

.inbox-card > div:nth-child(2) > div {
		border-top-right-radius: 0;
		border-top-left-radius: 0;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
		min-height: 150px;
		color: white;
		background-color: #633E89;
		box-shadow: none;
}

.inbox-card > div:nth-child(2) > div > div.card-body > div.card-title {
		font-size: 16px;
		color: white;
		border-bottom: 1px solid #efefef;
		padding: 10px;
		text-align: left;
		background-color: #633E89;
}

.inbox-card > div:nth-child(2) > div > div.card-body > div.card-title > span.email-time {
		float: right;
}

.inbox-card > div:nth-child(2) > div > div.card-body > div.inbox-subject {
		font-size: 14px;
		border-bottom: 0;
		text-align: left;
		padding: 10px;
		font-weight: bold;
}

.inbox-card > div:nth-child(2) > div > div.card-body > div.inbox-body {
		padding: 10px;
		font-size: 12px;
		text-align: left;
		padding: 10px;
		padding-bottom: 20px;
}

.email-message > p {
		color: white;
		text-align: left;
		padding: 20px;
}

.no-padding {
		padding: 0 !important;
}

.email-card {
		padding: 0;
		border-radius: 0;
		box-shadow: none;
		overflow-y: scroll;
		overflow-x:hidden;
		max-height:calc(100% - 100px);
		margin: 0;
}

.email-card > .card-body > .card-title {
		padding: 22px;
		border-bottom: 1px solid #efefef;
		/*background-color: white;*/
		color: black;
		font-size: 20px;
}

.email-card > .card-body:hover {
		background-color: #efefef;
		cursor: pointer;
}

.email-card > div > div > div > ul {
		margin-top: 30px;
}

.email-checkbox > label {
		padding:0;
		padding-top: 20px;
}

.email-checkbox {
		padding-left: 35px;
}

.email-card > div.card-body > div.row > div:nth-child(2) {
		padding-top: 15px;
		padding-bottom: 15px;
}

.email-message {
		min-height: 500px;
		color: black;
}

.email-message > p {
		color: black;
}

.email-message > p:nth-child(2) > textarea {
		width: 100%;
}

.email-message-title {
		height: 90px !important;
		border-bottom: 1px solid white !important;
}

.email-message-title > img {
		width: 50px;
		height: 50px;
}

.email-btn {
		margin-left: 20px;
}

.email-btn > li > button {
		margin-right: 5px;
}

.no-message {
		text-align: center;
		margin-top: calc(100% - 75%);
}

.no-message > i {
		font-size: 20em;
		color: lightgrey;
}

.search > div > div > input.form-control {
		border-top-left-radius: 20px !important;
		border-bottom-left-radius: 20px !important;
}

.search {
		padding: 15px;
}

#footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
    background-color: #242a3c;
    margin-top: 5px;
    color: white;
}

.image-row {
	/* column width */
	-moz-column-width: 19em;
	-webkit-column-width: 19em;

	/* space between columns */
	-moz-column-gap: 1em;
	-webkit-column-gap: 1em;
}

.col {
    height: 325px !important;
}

.btn-bs-file{
    position:relative;
}
.btn-bs-file input[type="file"]{
    position: absolute;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width:0;
    height:0;
    outline: none;
    cursor: inherit;
}

.dashboard-card-header {
		margin: -20px 15px 20px;
		border-radius: 3px;
		padding: 20px;
		font-size: 20px;
		/*background: linear-gradient(60deg, #ab47bc, #8e24aa) !important;*/
		color: #FFFFFF;
		box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
		font-family: 'Patrick Hand', cursive;
		background: #242a3c;
}

.dashboard-card-header > h5 {
		font-size: 16px;
}

.navbar-right > ul {
		padding-right: 20px;
}

.navbar-right > ul.visible-xs {
		padding-right: 0;
}

table {
		font-family: 'PT Sans', sans-serif;
		margin-bottom : 0 !important;
}

text-angular > div > div.btn-group {
		float: none !important;
}

legend {
		font-family: 'Patrick Hand', cursive;
}

.analytics-dt {
		width: auto !important;
		font-family: 'Patrick Hand', cursive;
		font-size: 20px;
}

.analytics-dd {
		margin-left: 115px !important;
		font-family: 'Patrick Hand', cursive;
		font-size: 20px;
}

.mini-table > tbody > tr > td {
		border: 0;
		line-height: 1;
}

.mini-table > tbody > tr > td:nth-child(1) {
		font-weight : bold;
}

/* Reference -- https://bootsnipp.com/snippets/featured/grid-columns-divider */
@media ( min-width: 992px ) {
    .grid-divider {
        position: relative;
        padding: 0;
        margin-left: -15px;
        margin-right: -15px;
        background-color: white;
        font-family: 'Patrick Hand', cursive;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    }
    .grid-divider>[class*='col-'] {
        position: static;
    }
    .grid-divider>[class*='col-']:nth-child(n+2):before {
        content: "";
        border-left: 1px solid #999;
        position: absolute;
        top: 20%;
        bottom: 15%;
    }
    .col-padding {
        padding: 25px;
        text-align: center;
    }
}

@media (max-width: 991px) {
		.grid-divider {
				background-color: white;
				font-family: 'Patrick Hand', cursive;
				box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
		}
		.col-padding {
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.grid-divider > div > div.col-padding > span {
		font-size: 18px;
}

.grid-divider > div > div.col-padding > span > i.fa-caret-up {
		color: #27BDBC;
}

.grid-divider > div > div.col-padding > span > i.fa-caret-down {
		color: #FF4749;
}

@media (max-width: 445px) {
		.hide-icon {
				display: none;
		}
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
		max-height: none;
}

.navbar-nav.visible-xs {
		font-family: 'Patrick Hand', cursive;
}

.logs-card {
		padding: 20px;
		word-break: break-all;
}

.legend {
		border-bottom: 0;
		text-align: center;
}

.padding-left-0 {
		padding-left: 0;
}

.padding-right-0 {
		padding-right: 0;
}

.content-image > img {
		width: 100px;
		height: 100px;
}